{% extends 'base.html' %}


{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel maiores, animi quod officiis ducimus a labore quidem odit aut ipsa aliquam ad voluptas rem, laborum laudantium non deserunt debitis eligendi incidunt assumenda ullam? Exercitationem, voluptate eius atque inventore numquam ratione cum repellendus excepturi dicta sequi quo fugit iure eveniet porro magni earum pariatur quia nam dignissimos delectus repellat id vitae iste. Molestiae recusandae dolore accusantium, dolor laudantium cum magnam praesentium a non eum, omnis facilis commodi obcaecati nihil eius tempore harum ducimus, quia vel itaque! Facere eveniet placeat molestiae sed aliquid sint provident magnam eius neque, architecto, et ipsum. Iste!</p>

        <div class="text-center">
            <a class="btn btn-dark" href="/signin/">
                Signin
            </a>
            <a class="btn btn-dark" href="/signup/">
                Signup
            </a>
        </div>
    </section>
</main>   
{% endblock %}

